.formSearchM {
    text-align: right;
}
.inputSearchM {
    height: 40px;
    padding: 5px;
    font-size: medium;
}
.titleCategoryM {
    color: #1976d2;
    font-size: x-large;
    font-family: monospace;
}

