.formSearchM {
    text-align: right;
    width: 822px;
}
.inputSearchM {
    height: 40px;
    padding: 5px;
    font-size: medium;
}
.formHeadM {
    margin-top: 20px;
    display: flex;
}
.titleCategoryM {
    color: #19776e;
    font-size: x-large;
    font-family: monospace;
}
