.leftTab {
    width: 70%;
}
.all-browsers {
    margin: 0;
    padding: 5px;
    background-color: lightgray;
}

.all-browsers > h1,
.browser {
    background: white;
    overflow-x: hidden;
    overflow-wrap: break-word;
    margin: 10px;
    padding: 5px;
    width: 100%;
}

.browser {
    background: white;
}

.browser > h2,
p {
    margin: 4px;
    font-size: 90%;
}
.containerNewList {
    display: flex;
}
.imgContainerNewList {
    padding: 10px;
    height: 100px;
}
.titleNewList {
    font-weight: 900;
}
.titleListNews {
    font-size: large;
    padding: 10px;
}
.rightTab {
    width: 25%;
    overflow: hidden;
}
.all-browsers {
    display: flex;
}
